<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compare The Laptops</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/Header.css">
    <link rel="stylesheet" href="stylesheets/comparison.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../javascripts/topbt.js"></script>
    <script type="text/javascript" src="../javascripts/comparison.js"></script>
</head>
<body>
  <% include header %>
<center>
      <hr>
       <div id="cmp1">
           <div id="cmp_1">
                <h2>Compare</h2>
           </div>
           <div id="cmp_2">
               <h3>Compare Laptops</h3>
           </div>
       </div>
       <hr>
       <div id="cmp2">
           <div id="cmp_21">
               Features
           </div>
           <div id="cmp_22">
             <div class="cmp_221">&nbsp;HP 15q-by002ax Notebook</div>
             <div class="cmp_222"><i>vs</i></div>
             <div class="cmp_221">&nbsp;Dell 3565 Notebook</div>
             <div class="cmp_222"><i>vs</i></div>
             <div class="cmp_221">&nbsp;Dell Inspiron 3467 Laptop</div>
             <div class="cmp_222"><i>vs</i></div>
             <div class="cmp_221">&nbsp;Lenovo Ideapad 320 Laptop</div>
           </div>
       </div>

       <div id="cmp2dup">
           <div id="cmp_21dup">
               Features
           </div>
           <div id="cmp_22dup">
             <div class="cmp_221dup">&nbsp;HP 15q-by002ax Notebook</div>
             <div class="cmp_222dup"><i>vs</i></div>
             <div class="cmp_221dup">&nbsp;Dell 3565 Notebook</div>
             <div class="cmp_222dup"><i>vs</i></div>
             <div class="cmp_221dup">&nbsp;Dell Inspiron 3467 Laptop</div>
             <div class="cmp_222dup"><i>vs</i></div>
             <div class="cmp_221dup">&nbsp;Lenovo Ideapad 320 Laptop</div>
           </div>
       </div>
       <div id="zcmp">
           <table>
               <tr class="tr_1">
                  <td class="td_11" id="td_1111">
                     Features
                  </td>
                   <td class="td_12 non1">
                       HP 15q-by002ax
                   </td>
                   <td class="td_12 non1">
                       Dell 3565 Notebook
                   </td>
                   <td class="td_12 non1">
                       Dell Inspiron 3467 Laptop
                   </td>
                   <td class="td_12 non1">
                       Lenovo Ideapad 320 Laptop
                   </td>
               </tr>
               <tr class="tr_2" id="ztrid">
                   <td class="td_11 exttr">
                      <div id="differences">Differences</div>
                   </td>
                   <td class="td_12 non exttd">
                       <table>
                           <tr>
                               <td class="insidetr1">
                                   <img src="../Images/download.jpg" alt="no" height="30" width="50">
                               </td>
                               <td class="insidetr2">
                                   Rs. 24,990
                               </td>
                               <td class="insidetr3">
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star"></span>
                                  <span class="fa fa-star"></span>
                               </td>
                           </tr>
                       </table>
                   </td>
                   <td class="td_12 non exttd">
                       <table>
                           <tr>
                               <td class="insidetr1">
                                   <img src="../Images/download.jpg" alt="no" height="30" width="50">
                               </td>
                               <td class="insidetr2">
                                   Rs. 24,990
                               </td>
                               <td class="insidetr3">
                                 <span class="fa fa-star checked"></span>
                                 <span class="fa fa-star checked"></span>
                                 <span class="fa fa-star checked"></span>
                                 <span class="fa fa-star"></span>
                                 <span class="fa fa-star"></span>
                               </td>
                           </tr>
                       </table>
                   </td>
                   <td class="td_12 non exttd">
                       <table>
                           <tr>
                               <td class="insidetr1">
                                   <img src="../Images/download.jpg" alt="no" height="30" width="50">
                               </td>
                               <td class="insidet2">
                                   Rs. 24,990
                               </td>
                               <td class="insidetr3">
                                 <span class="fa fa-star checked"></span>
                                 <span class="fa fa-star checked"></span>
                                 <span class="fa fa-star checked"></span>
                                 <span class="fa fa-star"></span>
                                 <span class="fa fa-star"></span>
                               </td>
                           </tr>
                       </table>
                   </td>
                   <td class="td_12 non exttd">
                       <table>
                           <tr>
                               <td class="insidetr1">
                                   <img src="../Images/download.jpg" alt="no" height="30" width="50">
                               </td>
                               <td class="insidetr2">
                                   Rs. 24,990
                               </td>
                               <td class="insidetr3">
                                 <span class="fa fa-star checked"></span>
                                 <span class="fa fa-star checked"></span>
                                 <span class="fa fa-star checked"></span>
                                 <span class="fa fa-star"></span>
                                 <span class="fa fa-star"></span>
                               </td>
                           </tr>
                       </table>
                   </td>
               </tr>
           </table>
       </div>
       <hr>

       <div id="cmp3">
           <div id="cmp_31">
               &nbsp;&nbsp;Show:
               <br><br>
               <div id="cmp_311">List Of All Features</div>
           </div>
           <div id="cmp_32">
             <div class="cmp_321">
                 <div class="cmp_3211"><img src="../Images/download.jpg" alt="no image" width="230px" height="135px"></div>
                 <div class="cmp_3212">Rs. 54499 <br>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                 </div>
             </div>
             <div class="cmp_321">
                 <div class="cmp_3211"><img src="../Images/download.jpg" alt="no image" width="230px" height="135px"></div>
                 <div class="cmp_3212">Rs. 29990 <br>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                 </div>
             </div>
             <div class="cmp_321">
                 <div class="cmp_3211"><img src="../Images/download.jpg" alt="no image" width="230px" height="135px"></div>
                 <div class="cmp_3212">Rs. 69899 <br>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                 </div>
             </div>
             <div class="cmp_321">
                 <div class="cmp_3211"><img src="../Images/download.jpg" alt="no image" width="230px" height="135px"></div>
                 <div class="cmp_3212">Rs. 40899 <br>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                 </div>
             </div>
           </div>
           <hr>
           <div id="cmp_33">
               <div class="cmp_331">
                   <div class="cmp_3311">Add Another Product</div>
               </div>
               <div class="cmp_331">
                   <div class="cmp_3311"> Add Another Product</div>
               </div>
               <div class="cmp_331">
                  <div class="cmp_3311">Add Another Product</div>
               </div>
               <div class="cmp_331">
                   <div class="cmp_3311">Add Another Product</div>
               </div>
           </div>
       </div>

         <div id="cmp3dup">
           <div id="cmp_31dup">
               &nbsp;&nbsp;Show:
               <br><br>
               <div id="cmp_311dup">List Of All Features</div>
           </div>
           <div id="cmp_32dup">
             <div class="cmp_321dup">
                 <div>
                     <div class="cmp_3211dup"><img src="../Images/download.jpg" alt="no image" width="210px" height="135px"></div>
                     <div class="cmp_3213dup"><a href="#"><img src="../Images/download.png" alt="no" height="15px;" width="15px;"></a></div>
                 </div>
                 <div class="cmp_3212dup">Rs. 54499 <br>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                 </div>
             </div>
             <div class="cmp_321dup">
                 <div>
                     <div class="cmp_3211dup"><img src="../Images/download.jpg" alt="no image" width="210px" height="135px"></div>
                     <div class="cmp_3213dup"><a href="#"><img src="../Images/download.png" alt="no" height="15px;" width="15px;"></a></div>
                 </div>
                 <div class="cmp_3212dup">Rs. 29990 <br>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                 </div>
             </div>
             <div class="cmp_321dup">
                 <div>
                     <div class="cmp_3211dup"><img src="../Images/download.jpg" alt="no image" width="210px" height="135px"></div>
                     <div class="cmp_3213dup"><a href="#"><img src="../Images/download.png" alt="no" height="15px;" width="15px;"></a></div>
                 </div>
                 <div class="cmp_3212dup">Rs. 69899 <br>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                 </div>
             </div>
             <div class="cmp_321dup">
                 <div>
                     <div class="cmp_3211dup"><img src="../Images/download.jpg" alt="no image" width="210px" height="135px"></div>
                     <div class="cmp_3213dup"><a href="#"><img src="../Images/download.png" alt="no" height="15px;" width="15px;"></a></div>
                 </div>
                 <div class="cmp_3212dup">Rs. 40899 <br>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                 </div>
             </div>
           </div>
       </div>

       <br><br>
       <div id="cmp4">
           <table>
               <tr id="tr_1">
                   <td class="td_11" id="td_11">Overview</td>
                   <td id="td_12" colspan="3">Advantages (Factors To Decide Which Device You Should Buy)</td>
                   <td class="td_12" id="td_13"><div id="rmv">Remove All Devices</div></td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Rankings</strong></td>
                   <td class="td_12 non"><div class="rank"># 1</div></td>
                   <td class="td_12 non e"><div class="rank"># 2</div></td>
                   <td class="td_12 non"><div class="rank"># 3</div></td>
                   <td class="td_12 non e"><div class="rank"># 4</div></td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Specs Score</strong></td>
                   <td class="td_12 non">
                     <center>
                     <div class="progress" id="pro">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:10.95%"></div>
                      </div>
                      <div class="score">
                        11/100
                      </div>
                    </center>
                   </td>
                   <td class="td_12 non e">
                     <center>
                     <div class="progress" id="pro">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:10.95%"></div>
                      </div>
                      <div class="score">
                        11/100
                      </div>
                    </center>
                   </td>
                   <td class="td_12 non">
                     <center>
                     <div class="progress" id="pro">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:10.95%"></div>
                      </div>
                      <div class="score">
                        11/100
                      </div>
                    </center>
                   </td>
                   <td class="td_12 non e">
                     <center>
                     <div class="progress" id="pro">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:10.95%"></div>
                      </div>
                      <div class="score">
                        11/100
                      </div>
                    </center>
                  </td>
               </tr>
               <tr id="tr_1">
                   <td class="td_11" id="td_11">General</td>
                   <td id="td_12" colspan="4"></td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Series</strong></td>
                   <td class="td_12 non">Inspiron</td>
                   <td class="td_12 non e">Inspiron</td>
                   <td class="td_12 non">Inspiron</td>
                   <td class="td_12 non e">Inspiron</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Model</strong></td>
                   <td class="td_12 non">2TZ85PA#ACJ</td>
                   <td class="td_12 non e">A561226SIN9</td>
                   <td class="td_12 non">A561202SIN9</td>
                   <td class="td_12 non e">80XV00X8IN</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Utility</strong></td>
                   <td class="td_12 non">Everyday Use</td>
                   <td class="td_12 non e">Everyday Use</td>
                   <td class="td_12 non">Everyday Use</td>
                   <td class="td_12 non e">Everyday Use</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>OS</strong></td>
                   <td class="td_12 non">Windows 10 Home (64-bit)</td>
                   <td class="td_12 non e">Windows 10 Home (64-bit)</td>
                   <td class="td_12 non">Windows 10 Home (64-bit)</td>
                   <td class="td_12 non e">Windows 10 Home (64-bit)</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Dimensions</strong></td>
                   <td class="td_12 non">253.7 x 380 x 23.88 mm</td>
                   <td class="td_12 non e">253.7 x 380 x 23.88 mm</td>
                   <td class="td_12 non">253.7 x 380 x 23.88 mm</td>
                   <td class="td_12 non e">253.7 x 380 x 23.88 mm</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Weight</strong></td>
                   <td class="td_12 non">2.1 Kg</td>
                   <td class="td_12 non e">2.1 Kg</td>
                   <td class="td_12 non">2.1 Kg</td>
                   <td class="td_12 non e">2.1 Kg</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Warranty</strong></td>
                   <td class="td_12 non">1 Year Onsite Warranty</td>
                   <td class="td_12 non e">1 Year Onsite Warranty</td>
                   <td class="td_12 non">1 Year Onsite Warranty</td>
                   <td class="td_12 non e">1 Year Onsite Warranty</td>
               </tr>
               <tr id="tr_1">
                   <td class="td_11" id="td_11">Display</td>
                   <td id="td_12" colspan="4"></td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Type</strong></td>
                   <td class="td_12 non">HD LED Backlit Widescreen BrightView Display</td>
                   <td class="td_12 non e">HD LED Backlit Truelife Display</td>
                   <td class="td_12 non">HD LED Backlit Anti-glare Display</td>
                   <td class="td_12 non e">HD LED Backlit Anti-glare Display</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Touch</strong></td>
                   <td class="td_12 non">No</td>
                   <td class="td_12 non e">No</td>
                   <td class="td_12 non">No</td>
                   <td class="td_12 non e">No</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Size</strong></td>
                   <td class="td_12 non">15.6 inches</td>
                   <td class="td_12 non e">15.6 inches</td>
                   <td class="td_12 non">15.6 inches</td>
                   <td class="td_12 non e">15.6 inches</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Resolution</strong></td>
                   <td class="td_12 non">1366 x 768 pixels</td>
                   <td class="td_12 non e">1366 x 768 pixels</td>
                   <td class="td_12 non">1366 x 768 pixels</td>
                   <td class="td_12 non e">1366 x 768 pixels</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>PPI</strong></td>
                   <td class="td_12 non">~ 100</td>
                   <td class="td_12 non e">~ 100</td>
                   <td class="td_12 non">~ 100</td>
                   <td class="td_12 non e">~ 100</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Aspect Ratio</strong></td>
                   <td class="td_12 non">16:9</td>
                   <td class="td_12 non e">16:9</td>
                   <td class="td_12 non">16:9</td>
                   <td class="td_12 non e">16:9</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Surface</strong></td>
                   <td class="td_12 non">Anti Glare</td>
                   <td class="td_12 non e">Anti Glare</td>
                   <td class="td_12 non">Anti Glare</td>
                   <td class="td_12 non e">Anti Glare</td>
               </tr>
               <tr id="tr_1">
                   <td class="td_11" id="td_11">Processor</td>
                   <td id="td_12" colspan="4"></td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Processor</strong></td>
                   <td class="td_12 non">AMD APU Dual Core A9 A9-9420</td>
                   <td class="td_12 non e">AMD APU Dual Core A9 7th Gen A9-9400</td>
                   <td class="td_12 non">Intel Core i3 6th Gen 6006U</td>
                   <td class="td_12 non e">AMD APU Dual Core E2 8th Gen</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Speed</strong></td>
                   <td class="td_12 non">3 GHz, Dual Core (Turbo Boost Upto 3.52 GHz)</td>
                   <td class="td_12 non e">2.4 GHz, Dual Core</td>
                   <td class="td_12 non">2 GHz, Dual Core</td>
                   <td class="td_12 non e">Dual Core</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Cache</strong></td>
                   <td class="td_12 non">1 MB</td>
                   <td class="td_12 non e">1 MB</td>
                   <td class="td_12 non">1.5 MB</td>
                   <td class="td_12 non e">1 MB</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Brand</strong></td>
                   <td class="td_12 non">AMD</td>
                   <td class="td_12 non e">AMD</td>
                   <td class="td_12 non">Intel</td>
                   <td class="td_12 non e">AMD</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Series</strong></td>
                   <td class="td_12 non">APU Dual Core</td>
                   <td class="td_12 non e">APU Dual Core</td>
                   <td class="td_12 non">Core i3</td>
                   <td class="td_12 non e">APU Dual Core</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Model</strong></td>
                   <td class="td_12 non">A9-9420</td>
                   <td class="td_12 non e">A9-9400</td>
                   <td class="td_12 non">6006U</td>
                   <td class="td_12 non e"></td>
               </tr>
               <tr id="tr_1">
                   <td class="td_11" id="td_11">Graphics</td>
                   <td id="td_12" colspan="4"></td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>GPU</strong></td>
                   <td class="td_12 non">AMD Radeon 520 Graphics</td>
                   <td class="td_12 non e">Integrated AMD Graphics</td>
                   <td class="td_12 non">Intel HD Graphics 520</td>
                   <td class="td_12 non e">Intel Integrated NA</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Dedicated Memory</strong></td>
                   <td class="td_12 non">2 GB DDR3</td>
                   <td class="td_12 non e"></td>
                   <td class="td_12 non"></td>
                   <td class="td_12 non e">512 MB</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Brand</strong></td>
                   <td class="td_12 non">AMD</td>
                   <td class="td_12 non e">AMD</td>
                   <td class="td_12 non">Intel</td>
                   <td class="td_12 non e">Intel</td>
               </tr>
               <tr id="tr_1">
                   <td class="td_11" id="td_11">Memory</td>
                   <td id="td_12" colspan="4"></td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>RAM</strong></td>
                   <td class="td_12 non">4 GB DDR4</td>
                   <td class="td_12 non e">4 GB DDR4</td>
                   <td class="td_12 non">6 GB DDR4</td>
                   <td class="td_12 non e">4 GB DDR4</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>RAM Bus Speed</strong></td>
                   <td class="td_12 non">1866 MHz</td>
                   <td class="td_12 non e">1866 MHz</td>
                   <td class="td_12 non">2400 MHz</td>
                   <td class="td_12 non e">2400 MHz</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Maximum RAM Supported</strong></td>
                   <td class="td_12 non">Upto 16 GB</td>
                   <td class="td_12 non e">Upto 8 GB</td>
                   <td class="td_12 non">Upto 8 GB</td>
                   <td class="td_12 non e"></td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>RAM Slots</strong></td>
                   <td class="td_12 non">2</td>
                   <td class="td_12 non e">2</td>
                   <td class="td_12 non">2</td>
                   <td class="td_12 non e">2</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Hard Disk Capacity</strong></td>
                   <td class="td_12 non">1 TB</td>
                   <td class="td_12 non e">1 TB</td>
                   <td class="td_12 non">1 TB</td>
                   <td class="td_12 non e">1 TB</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Hard Disk Speed</strong></td>
                   <td class="td_12 non">5400 RPM</td>
                   <td class="td_12 non e">5400 RPM</td>
                   <td class="td_12 non">5400 RPM</td>
                   <td class="td_12 non e">5400 RPM</td>
               </tr>
               <tr id="tr_1">
                   <td class="td_11" id="td_11">Connectivity</td>
                   <td id="td_12" colspan="4"></td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Ethernet</strong></td>
                   <td class="td_12 non">Integrated 10/100/1000 Gigabit LAN</td>
                   <td class="td_12 non e">10/100/1000 Mbps</td>
                   <td class="td_12 non">10/100/1000 Mbps</td>
                   <td class="td_12 non e">Integrated 10/100/1000 Ethernet</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>WiFi</strong></td>
                   <td class="td_12 non">IEEE 802.11b/g/n</td>
                   <td class="td_12 non e">IEEE 802.11ac</td>
                   <td class="td_12 non">IEEE 802.11ac</td>
                   <td class="td_12 non e">IEEE 802.11 a/b/g/n/ac</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Bluetooth</strong></td>
                   <td class="td_12 non">v4.0</td>
                   <td class="td_12 non e">v4.0</td>
                   <td class="td_12 non">v4.1</td>
                   <td class="td_12 non e">v4.0</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Lan Port</strong></td>
                   <td class="td_12 non">Yes</td>
                   <td class="td_12 non e">Yes</td>
                   <td class="td_12 non">Yes</td>
                   <td class="td_12 non e">Yes</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>USB Ports</strong></td>
                   <td class="td_12 non">1 x USB 2.0, 2 x USB 3.0</td>
                   <td class="td_12 non e">1 x USB 2.0, 2 x USB 3.0</td>
                   <td class="td_12 non">1 x USB 2.0, 2 x USB 3.0</td>
                   <td class="td_12 non e">1 x USB 2.0, 2 x USB 3.0</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>HDMI</strong></td>
                   <td class="td_12 non">1 x HDMI Port (v1.4b)</td>
                   <td class="td_12 non e">1 x HDMI Port (v1.4b)</td>
                   <td class="td_12 non">1 x HDMI Port (v1.4b)</td>
                   <td class="td_12 non e"></td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Card Reader</strong></td>
                   <td class="td_12 non">3-in-1 Card Reader (SD, SDHC, SDXC)</td>
                   <td class="td_12 non e">3-in-1 Card Reader (SD, SDHC, SDXC)</td>
                   <td class="td_12 non">3-in-1 Card Reader (SD, SDHC, SDXC)</td>
                   <td class="td_12 non e"></td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Microphone In</strong></td>
                   <td class="td_12 non">Yes</td>
                   <td class="td_12 non e">Yes</td>
                   <td class="td_12 non">Yes</td>
                   <td class="td_12 non e">Yes</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Security Lock Port</strong></td>
                   <td class="td_12 non">Kensington Lock Slot</td>
                   <td class="td_12 non e"></td>
                   <td class="td_12 non"></td>
                   <td class="td_12 non e"></td>
               </tr>
               <tr id="tr_1">
                   <td class="td_11" id="td_11">Input</td>
                   <td id="td_12" colspan="4"></td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Camera</strong></td>
                   <td class="td_12 non">HP TrueVision HD Webcam</td>
                   <td class="td_12 non e">Integrated HD Webcam</td>
                   <td class="td_12 non">Integrated HD Webcam</td>
                   <td class="td_12 non e">Integrated HD Webcam</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Keyboard</strong></td>
                   <td class="td_12 non">Full Size Textured Island-style Keyboard with Numeric Keypad</td>
                   <td class="td_12 non e">English Non-Backlit Keyboard</td>
                   <td class="td_12 non">English Non-Backlit Keyboard</td>
                   <td class="td_12 non e"></td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Keyboard Backlit</strong></td>
                   <td class="td_12 non"></td>
                   <td class="td_12 non e">Yes</td>
                   <td class="td_12 non">Yes</td>
                   <td class="td_12 non e"></td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Pointer Device</strong></td>
                   <td class="td_12 non">Multi Gesture Touchpad</td>
                   <td class="td_12 non e">Touchpad</td>
                   <td class="td_12 non">Touchpad</td>
                   <td class="td_12 non e"></td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Inbuilt Microphone</strong></td>
                   <td class="td_12 non">Single Digital Microphone</td>
                   <td class="td_12 non e">Single Digital Microphone</td>
                   <td class="td_12 non">Single Digital Microphone</td>
                   <td class="td_12 non e"></td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Speakers</strong></td>
                   <td class="td_12 non">Built-in, Stereo Speakers</td>
                   <td class="td_12 non e">Built-in, Stereo Speakers</td>
                   <td class="td_12 non">Built-in, Stereo Speakers</td>
                   <td class="td_12 non e"></td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Sound</strong></td>
                   <td class="td_12 non"></td>
                   <td class="td_12 non e">2 x Tuned Speakers with Waves MaxxAudio Pro</td>
                   <td class="td_12 non">2 x Tuned Speakers with Waves MaxxAudio Pro</td>
                   <td class="td_12 non e"></td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Optical Drive</strong></td>
                   <td class="td_12 non">Yes</td>
                   <td class="td_12 non e">Yes</td>
                   <td class="td_12 non">Yes</td>
                   <td class="td_12 non e">CD/DVD writer</td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Optical Drive Speed</strong></td>
                   <td class="td_12 non">8x</td>
                   <td class="td_12 non e">8x</td>
                   <td class="td_12 non">8x</td>
                   <td class="td_12 non e"></td>
               </tr>
               <tr id="tr_1">
                   <td class="td_11" id="td_11">Battery</td>
                   <td id="td_12" colspan="4"></td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Battery</strong></td>
                   <td class="td_12 non">4 Cell Battery</td>
                   <td class="td_12 non e">4 Cell Battery</td>
                   <td class="td_12 non">4 Cell Battery</td>
                   <td class="td_12 non e"></td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Battery Backup</strong></td>
                   <td class="td_12 non"></td>
                   <td class="td_12 non e">Upto 5 Hours</td>
                   <td class="td_12 non">Upto 5 Hours</td>
                   <td class="td_12 non e">Upto 4.5 Hours</td>
               </tr>
               <tr id="tr_1">
                   <td class="td_11" id="td_11">Extra</td>
                   <td id="td_12" colspan="4"></td>
               </tr>
               <tr class="tr_2">
                   <td class="td_11"><strong>Sales Package</strong></td>
                   <td class="td_12 non">Laptop, Battery, Power Adaptor, User Guide, Warranty Documents</td>
                   <td class="td_12 non e">Laptop, Battery, Power Adaptor, User Guide, Warranty Documents</td>
                   <td class="td_12 non">Laptop, Battery, Power Adaptor, User Guide, Warranty Documents</td>
                   <td class="td_12 non e">Laptop, Battery, Power Adaptor</td>
               </tr>
           </table>
       </div>


        <div id="lt">Give Your Priority Here</div>
        <br><br>
        <div id="drp" class="lt1">
          <table>
            <tr class="select1" id="drp1">
              <td class="select11">
                <select id="select1">
                  <option value="" selected disabled>First priority</option>
                  <option id="op1" value="Processor">Processor</option>
                  <option id="op2" value="RAM">RAM</option>
                  <option id="op3" value="Hard_Disc">Hard Disc</option>
                  <option id="op4" value="Battary">Battary</option>
                  <option id="op5" value="Price">Price</option>
                </select>
              </td>
              <td class="select12"></td>
              <td class="select13">
                <button type="button" name="button" class="btnn" id="btnn1">Add</button>
              </td>
            </tr>
            <tr class="select1" id="drp2">
              <td class="select11">
                <select id="select2">
                  <option value="" selected disabled>Second priority</option>
                  <option id="op11" value="Processor">Processor</option>
                  <option id="op22" value="RAM">RAM</option>
                  <option id="op33" value="Hard_Disc">Hard Disc</option>
                  <option id="op44" value="Battary">Battary</option>
                  <option id="op55" value="Price">Price</option>
                </select>
              </td>
              <td class="select12"></td>
              <td class="select13">
                <button type="button" name="button" class="btnn" id="btnn2">Add</button>
              </td>
            </tr>
            <tr class="select1" id="drp3">
              <td class="select11">
                <select id="select3">
                  <option value="" selected disabled>Third priority</option>
                  <option id="op111" value="Processor">Processor</option>
                  <option id="op222" value="RAM">RAM</option>
                  <option id="op333" value="Hard_Disc">Hard Disc</option>
                  <option id="op444" value="Battary">Battary</option>
                  <option id="op555" value="Price">Price</option>
                </select>
              </td>
              <td class="select12"></td>
              <td class="select13">
                <button type="button" name="button" class="btnn" id="btnn3">Add</button>
              </td>
            </tr>
            <tr class="select1" id="drp4">
              <td class="select11">
                <select id="select4">
                  <option value="" selected disabled>Fourth priority</option>
                  <option id="op1111" value="Processor">Processor</option>
                  <option id="op2222" value="RAM">RAM</option>
                  <option id="op3333" value="Hard_Disc">Hard Disc</option>
                  <option id="op4444" value="Battary">Battary</option>
                  <option id="op5555" value="Price">Price</option>
                </select>
              </td>
              <td class="select12"></td>
              <td class="select13">
                <button type="button" name="button" class="btnn" id="btnn4">Add</button>
              </td>
            </tr>
            <tr class="select1" id="drp5">
              <td class="select11">
                <select id="select5">
                  <option value="" selected disabled>Fifth priority</option>
                  <option id="op11111" value="Processor">Processor</option>
                  <option id="op22222" value="RAM">RAM</option>
                  <option id="op33333" value="Hard_Disc">Hard Disc</option>
                  <option id="op44444" value="Battary">Battary</option>
                  <option id="op55555" value="Price">Price</option>
                </select>
              </td>
              <td class="select12"></td>
              <td class="select13">
                <button type="button" name="button" class="btnn" id="btnn5">Add</button>
              </td>
            </tr>
          </table>
        </div>
        <br>
        <button id="nc" type="button" name="button">Now Compare</button>
</center>
<br><br><br><br>
<% include footer %>
</body>
</html>
