<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/Header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="javascripts/ajax.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row head">
            <div class="col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-sm-2 col-md-2 col-lg-2 logo d1">
                <a href="/"><img src="../Images/logo.png" alt="no logo" width="75" height="50"></a>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5 d2">
                    <div class="input-group">
                        <input type="text" class="form-control inpu1" placeholder="Select Laptops brands, features etc."
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2">
                            <a href="#"><img src="../Images/search.jpg" alt="no image" height="25" width="25"></a>
                        </span>
                    </div>
                    <div id="ex2" class="ex2">
                      <table id="exc">
                        <!-- <tr><td class="searchPro"><a href="#">Search Product 1</a></td></tr> -->
                      </table>
                    </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 d3"></div>
            <div class="col-sm-2 col-md-2 col-lg-2 d4">
                <div id="fimg">
                    <div class="icon"><a href="#"><i class="fa fa-facebook-f" style="font-size:24px"></i></a></div>
                    <div class="icon"><a href="#"><i class="fa fa-twitter" style="font-size:24px"></i></a></div>
                    <div class="icon1"><a href="#"><i class="fa fa-google-plus" style="font-size:24px"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
